/*Reset CSS Layout*/
* {
    margin: 0;
    padding: 0;
    /*Retirando o padrao de tamanho de qualquer caixa do projeto*/
    box-sizing: border-box;
}

/*Configuração root e adiconando variaveis*/

:root {
    /*Surface colors*/
    --background-color: #573824;
    --surface-color: #f0e8c2;

    /*Text Colors*/
    --text-color-primary: #291b1a;
    --text-color-secondary: #573a37;
    --text-color-on-bg: #f0e8c2;

    /*Fonts*/
    --heading1: 400/140% 40px "Alice", sans-serif;
    --heading2: 400/140% 24px "Alice", sans-serif;
    --paragraph: 400/140% 16px "Alice", sans-serif;
}

body {
    /*Adicionando imagem de fundo ao body*/
    background-image: url(../assets/bg.jpg);
    /*Ajustando o tamanho da imagem para que ela cubra todo o espaço do body*/ 
    background-size: cover;
}

#page {
    /*Ajustando a largura da caixa page*/
    width: 800px;
    /*Ajustando o espaçamento interno  da caixa page*/
    padding: 24px;
    /*Adicionando cor ao fundo da caixa page*/
    background-color: var(--surface-color);
    /*Arredondamento de bordas da caixa page*/
    border-radius: 24px;
    /*Alinhamento do conteudo da caixa page com a utilizacao da margem sendo 48px em cima e baixa e automatico dos lados para centralizar*/
    margin: 48px auto;


}

img {
    width: 752px;
    height: 400px;
    border-radius: 16px;
}