/*Reset CSS Layout*/
* {
    margin: 0;
    padding: 0;
    /*Retirando o padrao de tamanho de qualquer caixa do projeto*/
    box-sizing: border-box;
}

/*Configuração root e adiconando variaveis*/

:root {
    /*Surface colors*/
    --background-color: #573824;
    --surface-color: #f0e8c2;

    /*Text Colors*/
    --text-color-primary: #291b1a;
    --text-color-secondary: #573a37;
    --text-color-on-bg: #f0e8c2;

    /*Fonts*/
    --heading1: 400 40px/140% "Alice", serif;
    --heading2: 400 24px/140% "Alice", serif;
    --paragraph: 400 16px/140% "Alice", serif;
}

body {
    /*Adicionando imagem de fundo ao body*/
    background-image: url(../assets/bg.jpg);
    /*Ajustando o tamanho da imagem para que ela cubra todo o espaço do body*/ 
    background-size: cover;
}

#page {
    /*Ajustando a largura da caixa page*/
    width: 800px;
    /*Ajustando o espaçamento interno  da caixa page*/
    padding: 24px;
    /*Adicionando cor ao fundo da caixa page*/
    background-color: var(--surface-color);
    /*Arredondamento de bordas da caixa page*/
    border-radius: 24px;
    /*Alinhamento do conteudo da caixa page com a utilizacao da margem sendo 48px em cima e baixa e automatico dos lados para centralizar*/
    margin: 48px auto;
}

img {
    width: 752px;
    height: 400px;
    border-radius: 16px;
}

main {
    /*Adicionando espaçamento ao redor da caixa main*/
    padding: 24px;
}

section + section {
    /*Entre as caixas section adicionando uma margem entre a ultima e a anterior a ela. Por isso utilizado o margin-top*/
    margin-top: 24px;
}

#about p + p {
    /*Dentro da caixa about adicionando uma margem entre o paragrafo e o paragrafo anterior a ele. Por isso utilizado o margin-top*/
    margin-top: 12px;
}

h1 {
    font: var(--heading1);
}

h2 {
    font: var(--heading2);
}

p {
    font: var(--paragraph);
}

h1, h2 {
    /*Adicionando uma margem para separar os h1 e h2 do conteudo subsequente*/
    margin-bottom: 4px;
    color: var(--text-color-primary);
}

ul {
    /*Adicionando um espaçamento lateral na caixa ul*/
    padding-left: 24px;
    font: var(--paragraph);
}

